//- index.pug
doctype html
html
  head
  title Meena Larai Musical Artist
    block style
       style
           include ../static/style.css
  body
        header
          .banner
            .blocks
          nav.navbar
            .logo Meena Larai
            ul#navlist.navlist
              i.fas.fa-times(onclick='hideMenu()')
              li.item
                a(href='/') Home
              li.item
                a(href='/') About
              li.item
                a(href='/') Contact
              li.item
                a(href='/') Social media
              li.item
                a(href='/') Visit here
            i.fas.fa-bars(onclick='showMenu()')
          section.firstsection(class='.h-nav-resp')
            .boxmain
              .firsthalf
                .wrapper
                  p.textbig Queen Of Tiktok
                p.textsmall
                  | Most fans would agree that the &lsquo;Queen of TikTok&rsquo; is 
                  br
                  |  Meena Larai !
                  |                     with 1 Million Followers on tiktok &amp; 100k Followers on Instagram...
                .button123
                  a.button-btn(href='https://www.tiktok.com/@meenalarai?lang=en') Follow me
                  a.button-btn(href='https://www.tiktok.com/@meenalarai/video/6904223789631016193?lang=en&is_copy_url=1&is_from_webapp=v1') Watch Videos
        main(roll='main')
          section#wrap-text
            img.girl(src="/static/pic.png")
            img.girlmeena(src="/static/meena2.png")
            h3 &quot;Meena Larai&quot; (Tiktok Star) 
            p
              | Meena Larai is a famous Tiktok star, Model and Actress from Pakistan,
              | She is known for her Beautiful Looks, Cute Smile, Style, Hot and chubby personality.. Meena Larai gain
              | moderate from her tik tok videos.
              | She has a huge international fans followers, She was fond of acting and dancing since her childhood. She is
              | one of the most trending
              | Tiktok personality in Pakistan. She is primarily famous for comedy video clips and performs lip-syncs on
              | Tiktok(Musical.ly).Most fans would agree that the &lsquo;Queen of TikTok&rsquo; is Meena Larai, with 1 Million Followers
              | on tiktok,her motivational videos, helping her followers build the confidence to reach their dreams.. Meena
              | was born On Octuber 7, 1996 Karachi, Sindh, PK, Currently she is living in Mirpurkhas with her family. Meena
              | Larai has huge
              | Following on social media and tik tok. She has 1 million followers on tiktok and 100K follower on instagram.
              | She is very close to her family as they supported her all the way. She
              | is more close to her Mother, Meena started her carrer in very young age, She has qualify M.A in Economics,
              | She is passionate of new clothes, She is a big food lover and her favourite food is burger Pizza, Ice-cream.
              | her favorite Color is Pink, She is a big fan of Shah Rukh khan and her favourite Actress is Kajol, Her
              | favourite singer is Arijit Singh, She is a big pet lover and has a parrot,
              | She is a mortal danger to all men. She is beautiful without knowing it, and possesses charms that she&apos;s not
              | even aware of. She is like a trap set by nature - a sweet perfumed rose in whose petals Cupid lurks in
              | ambush! Anyone who has seen her smile has known perfection. her Tiktok account is self-dubbed the &ldquo;happiest
              | place on the Internet,&rdquo; which is a pretty great
              | indicator of the inspirational, encouraging content found here. Many of the videos on this account deal
              | with living your happiest life, from life lessons to managing your finances smartly to just being the
              | best person you can. She is a Influencers in social media. No matter what a woman looks like, if she&rsquo;s
              | confident, she&rsquo;s sexy.
              | She loves moonlight and rainstorms and so many other things that have a soul. her passion is her attitude,
              | She said&quot;Think like a queen. A queen is not afraid to fail. Failure is another steppingstone to greatness&quot;.
              | The beauty of a woman is not in a facial mode but the true beauty in a woman is reflected in her soul. It is
              | the caring that she lovingly gives the passion that she shows. She is a Passionate Girl, Good Looking ans
              | Simple Girl. She is Passionate about Acting..
              | She became Pakistan&apos;s most followed celebrity on Instagram with 100k Followers, Meena Larai is very popular
              | and active in social media.She often shares her trendy outfits and modeling images over her Instagram.
              | She obtained very interesting persona, She seems identical to a doll, And now she is a topped &ldquo;muser.&rdquo;
        section#services-container
          h1.h-primary
            i.fas.fa-key
            |  Success Key
          #services
            .box
              .content
                img(src="/static/bg1.jpg" alt='image')
                h2.h-secondary
                  i.fas.fa-quote-left
                  |  Learn 2b happy by yourself 
                  i.fas.fa-quote-right
                p.center
                  | Being single can sometimes feel a little lonely, especially when all of your friends
                  | seem
                  | settled and in a relationship. Really it just means you have the power to be free and achieve
                  | whatever
                  | it is you want to. that is a good enough reason.
            .box
              .content
                img(src="/static/bg2.jpg" alt='image')
                h2.h-secondary
                  i.fas.fa-quote-left
                  | My Journey to Success
                  i.fas.fa-quote-right
                p.center
                  | I would wake up at 6 a.m, shower and get ready so I could post in the morning for my
                  | international fans. And then I would go all day. But as I got older, the more I realized that this
                  | is
                  | something that should be fun for me and I don&apos;t want to put too much pressure on myself.
                  | yourself!
            .box
              .content
                img.image(src="/static/bg3.jpg")
                h2.h-secondary
                  i.fas.fa-quote-left
                  |  Needs 100% Self Confidance 
                  i.fas.fa-quote-right
                p.center
                  | Self-confidence allows you to see things from a more positive perspective even when
                  | the going gets really tough. Even more so, it helps you to keep going when it seems as if all hope is
                  | gone. Anything is possible, you have to believe, and you have to fight.
        footer
          .footer-container
            .left-col
              .logo2  Meena Larai
              p.right-text  Copyright &copy; 2021 - www.Meenalarai.com - All rights reserved
            .right-col
              h1
                | Our Newsletter
                h1
                  .border12
                  p Enter your Email to get our news and updates.
                  form.newsletter-form(action='')
                    input.txtb(type='email' name='' placeholder='Enter your Email')
                    input.press(type='submit' value='submit' name='')
          script
              include ../static/index.js