extends base.pug

block scripts
     script(src='/static/index.js')

block style
       style
           include ../static/style.css
           include ../static/stylesocial.css

block system   
    body
    .social-button
    .middle
    a(href='https://www.facebook.com/meeenaa')
    i.fab.fa-facebook-f
    a(href='#')
    i.fab.fa-google
    a(href='#')
    i.fab.fa-instagram
    a(href='#')
    i.fab.fa-twitter
    a(href='#')
    i.fab.fa-youtube